<%- include('partials/header'); -%>

    <div class="diagramBox">
        <h1>Om databasen</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat veritatis doloribus sunt ullam, esse omnis aperiam natus deserunt aliquid recusandae provident et nobis facilis eum quas dignissimos enim, praesentium odio.</p>
        <img class="diagramImg" src="/img/ER_diagram.png" alt="">
    </div>

<%- include('partials/footer'); -%>