<%- include('partials/header'); -%>

    <div class="diagramBox">
        <h1>Om databasen</h1><img class="diagramImg" src="/img/ER_diagram.png" alt="">
    </div>

<%- include('partials/footer'); -%>