<%- include('partials/header'); -%>

    <div class="intro">
    <h1>Hjem</h1>
    </div>

    <div class="search">
        <input type="text" class="searchBox">
    </div>
    
    <div id="resultsWrap">
    <div id="results">
        <!-- <div id="resultEier">
        </div>
        <div id="resultFlokk">
            
        </div>
        <div id="resultReinsdyr">
            
        </div>
        <div id="resultBeiteområde">
            
        </div> -->
    </div>
    </div>

    <script src="js/index.js" defer></script>
<%- include('partials/footer'); -%>