<%- include('partials/header'); -%>

    <h1>Om databasen</h1>
    <div class="diagram">
        <img class="diagramImg" src="/img/ER_diagram.jpg" alt="">
    </div>

<%- include('partials/footer'); -%>