<%- include('partials/header'); -%>

    <h1>Hjem</h1>
    <input type="text" class="search">

    <div id="results">
        <!-- <div id="resultEier">
        </div>
        <div id="resultFlokk">
            
        </div>
        <div id="resultReinsdyr">
            
        </div>
        <div id="resultBeiteområde">
            
        </div> -->
    </div>

    <script src="js/index.js" defer></script>
<%- include('partials/footer'); -%>