<%- include('partials/header'); -%>

    <h1>Hjem</h1>
    <input type="text" class="search">

    <div class="reinsdyr">
        
    </div>

    <script src="/index.js" defer></script>
<%- include('partials/footer'); -%>