<%- include('partials/header'); -%>

    <div class="kartBox">
    <h1>Kart</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat veritatis doloribus sunt ullam, esse omnis aperiam natus deserunt aliquid recusandae provident et nobis facilis eum quas dignissimos enim, praesentium odio.</p>
    <img src="img/Kart.png" alt="Kart over beiteområder">
    </div>

<%- include('partials/footer'); -%>