<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sondre Eksamen Linux</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <nav>
    <!-- Navbar -->
    <a class="hjem" href="/hjem">Hjem</a>
    <a class="kart" href="/kart">Kart</a>
    <a class="om" href="/database">Om databasen</a>
  </nav>
  